
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1126.3153005676522!2d35.31897802257124!3d37.01693491790139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15288f23f9f8d269%3A0xf9e57dd623a93932!2sBarajyolu+Ara%C3%A7+Kiralama!5e0!3m2!1str!2str!4v1545662820709" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Mesajınızı İletin</h2>
            <p class="lead">Telefonla arayacak vaktiniz yoksa mesaj bırakın biz sizi arayalım.</p>
        </div>
        <div class="row contact-wrap">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="sendmessage">Mesajınız alınmıştır. İlginiz için teşekkür ederiz :)</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:4"
                               data-msg="Lütfen en az 4 karakter giriniz" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Adresiniz" data-rule="email"
                               data-msg="Lütfen geçerli bir email adresi girin" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" data-rule="minlen:4"
                               data-msg="Lütfen en az 8 karakter ile konudan bahsedin" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Lütfen mesajınızı yazın"
                                  placeholder="Mesajınız"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Gönder</button></div>
                </form>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#contact-page-->
