
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>HİZMETLERİMİZ</h2>
            <p class="lead">Müşterilerimizin hayatını kolaylaştırmak için başlıca hizmetlerimiz;</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/Airport.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">HAVA ALANI SERVİSİ</h3>
                        <p>Barajyolu Araç Kiralama Yurtdışından veya şehir dışından ilimize gelen müşterilerimize kiraladıkları aracı havaalanına kadar getirip teslime diyoruz. Böylelikte boşa zaman kaybetmemiş oluyorsunuz.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/vip.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">VİP TRANSFER</h3>
                        <p>Uçak seyahatlerinizin tamamlayıcı unsuru transfer hizmetlerimiz, konforlu araçlarımız ile eğitimli, dakik ve profesyonel personeller eşliğinde yolculuğun son noktasına kadar rahat bir şekilde ulaşım sağlamaktadır.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/economic.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">EKONOMİK ARAÇ KİRALAMA</h3>
                        <p>Ekonomik araç kiralamada BARAJYOLU ARAÇ KİRALAMA siz değerli müşterilerine firmamıza ulaşmanız durumunda filomuzda bulunan modellerle en ekonomik fiyat garantisi vermektedir.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/baby.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Opsiyonel Bebek Koltuğu</h3>
                        <p>Çocuklarımız Herşeyimiz! bizde BARAJYOLU Ailesi olarak sizin kadar özverili, hassas duygularla hizmetlerimizi sevgiyle sunuyoruz.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/luxury.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Lüks Araç Kiralama</h3>
                        <p>Lüks araç kiralamada BARAJYOLU siz değerli müşterilerine firmamıza ulaşmanız durumunda filomuzda bulunan modellerden en üst segmentte araçları premium konforda sizlere sunmaktayız.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/rent-a-car.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Operasyonel Araç Kiralama</h3>
                        <p>BARAJYOLU oto araç kiralamadan uzun süreli araç kiralayan firmalar finansal kaynaklarını ve insan kaynaklarını kendi iş alanlarında ve günlük operasyonlarında kullanmak kaydı ile işlerinde verimlilik sağlayabiliyorlar.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#services-->


<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="get-started center wow fadeInDown">
            <h2>Ready to get started</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            <div class="request">
                <h4><a href="#">Request a free Quote</a></h4>
            </div>
        </div>
        <!--/.get-started-->

        <div class="clients-area center wow fadeInDown">
            <h2>Müşterilerimiz ne diyor ?</h2>
            <p class="lead">Bizden hizmet almış müşterilerimizin hakkımızda yaptıkları gurur verici ve bizi daha çok çalışmaya sevkeden yorumlar...</p>
        </div>

        <div class="row">
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client1.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client2.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client3.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#feature-->